body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .profile-picture {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-picture img {
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .download-icon {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  form input[type="date"] {
    width: auto;
  }
  
  form label {
    font-weight: bold;
  }
  
  form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      max-width: 300px;
    }
  
    .profile-picture img {
      max-width: 150px;
    }
  }
  
  